.App {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -250px;
  width: 500px;
  height: 500px;
}

.home-title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 50px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: row;

}

.button {
  height: 70px;
  width: 90px;
  background-color: rgba(184, 180, 180, 0.625);
  border: none;
  border-radius: 4px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
}