.game-title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.keyboard-container {
    display: flex;
    justify-content: center;
}